geopandas>=0.14.4
numpy>=2.2.1
opencv_python_headless>=4.10.0.84
rasterio>=1.4.3
safetensors>=0.5.2
segmentation_models_pytorch>=0.3.3
Shapely>=2.0.6
torch>=2.6.0
torchvision>=0.21.0
tqdm>=4.66.4
utm>=0.7.0
